{% extends 'footer.html' %}
{% load static %}   
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>


<style>
    
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #000;
  /* border-radius: 50%; */
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 120px;
  height: 120px;
  visibility: hidden;
}
.img-magnifier-container :hover .img-magnifier-glass{
    visibility: inherit;
}

</style>





    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">




        
        <!-- CATEGORY MP-MENU
        ================================================== -->


        <!-- PAGE TITLE
        ================================================== -->
        <section class="cover-img" style="background-image: url({%static 'img/index1.jpg'%});background-repeat: no-repeat;background-size:cover;">
            <div class="container">

                <div class="title-info">
                    <h1 style="color: aliceblue;">Product Details</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="#" style="color: aliceblue;">Best</a></li>
                        <li><a href="#" style="color: aliceblue;">Purchase Now</a></li>
                    </ul>
                </div>

            </div>
        </section>


        <section class="md">
            <div class="container ">
        
                <!-- product section -->
                <div class="row mb-6 mb-md-7 mb-lg-9 product_data" style="background-color: rgb(252, 248, 248);">
                    <div class="col-lg-3 text-center text-lg-start mb-1-9 mb-lg-0 mt-4  me-5">
                        

                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" >



                            <div class="big-image"  style="width: 25rem; height: 10rem;">

                        
                            <div class="carousel-inner img-magnifier-container" >


                              <div class="carousel-item active " >
                                {% if product.image %}

                                <img src="{{product.image.url}}" id="myimage" class="d-block "id="myimage" alt="...">
                                {% endif %}

                              </div>


                              <div class="carousel-item ">
                                
                                {% if product.image2 %}
                                    
                              
                                    
                                <img src="{{product.image2.url}}" class="d-block"id="myimage" alt="...">
                                {% endif %}
                              </div>
                              <div class="carousel-item ">
                                {% if product.image2 %}

                                <img src="{{product.image3.url}}" class="d-block "id="myimage" alt="...">
                                {% endif %}

                              </div>


                            </div>
                         </div>
                        
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <div style="margin-left: 55px;">
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon"  aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                        </div>

                    </div>

        
                        <!-- product left start -->
                        <div class="col-lg-2">
                        <div class="xzoom-container">
                            <div class="xzoom-thumbs me-5 ms-5 mt-2-3">
                                {% if product.image %}
                                <img class="xzoom-gallery5" width="70" src="{{product.image.url}}" xpreview="img/products/single-product/preview/01_product.jpg" title="The description goes here"></a>
                                {% endif %}
                                {% if product.image2 %}

                                <img class="xzoom-gallery5" width="70" src="{{product.image2.url}}" title="The description goes here"></a>
                                {% endif %}
                                {% if product.image3 %}
                                <img class="xzoom-gallery5" width="70" src="{{product.image3.url}}" title="The description goes here"></a>
                                {% endif %}

                            </div>
                        </div>
                        </div>

                        <!-- product left end -->
        
                    <div class="col-lg-6 ps-lg-2-3 mt-5 ms-5">
                        <div class="product-detail me-5">
                            <h2 class="mb-1 pb-4">{{product.product_name}} </h2>
                            <div class="bg-primary separator-line-horrizontal-full "></div>
                            <h4 class="rating-text pb-4 mt-3"><span>{{product.category}}</span> <span class="font-500 theme-color"></span></h4>
                            <h6>{{product.description}}</h6>
                            <p>{{product.specs}}</p>

        
                            {% if page == 1 %}


                            <div class="mb-4 pb-3">
                                <span class="display-26 font-weight-700 text-primary ">RS :{{product.price}}</span>
                            </div>
                            {% else %}
                            <div class="mb-4 pb-3">
                                
                                {% if product_details.vproduct.offers %}
                                <span class="display-26 font-weight-700 text-primary "></span>
                                RS :{{product_details.offer_price}}
                               <del>RS :{{product_details.price}}</del> 
                            </span>
                                {% else %}
                                <span class="display-26 font-weight-700 text-primary "></span>
                                RS :{{product_details.price}}</span> 
                                {% endif %}
                                    
                            </div>
                            {% endif %}


                           
                            
                                <div class="pt-3 pb-3 d-flex justify-content-start">
                                
                                {% if page == 1 %}

                                
                                    
                                    {% for i in  product_details %}
                                           <a href="{% url 'product_details' product.id i.id %}"><li class="me-3 bt btn-light rounded-pill px-1 " style="text-decoration: none; color: aqua;font-size: 25px; font-weight: bold;list-style: none;">{{i.Vprocessor}}</li></a>

                                

                                        

                                    {% endfor %}

                                  {% else %}
                                  
                                    <a href=""><li class="me-3 bt btn-light rounded-pill px-1 " style="text-decoration: none; color: aqua;font-size: 25px; font-weight: bold;list-style: none;">{{product_details.Vprocessor}}</li></a>

                                        
                                {% endif %}
                                    
                                </div>


                            

                            
        


        
                            <div class="row mb-4">
                                <div class="col-md-3">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{product_details.id}}" class="product_id ">

                                    <div>
                                        <input type="hidden" name="quantity" class="form-control qty-input text-center" value="1">
                                    </div>




                                </div>
                                <div class="col-lg-12">
                                    <button class="addToCartBtn butn-style2 me-3 mb-2 mb-md-0">

                                        Add To Cart
                                            
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/2.2.3/jquery.elevatezoom.js
"></script> -->

<script>
    function magnify(imgID, zoom) {
  var img, glass, w, h, bw;
  img = document.getElementById(imgID);

  /* Create magnifier glass: */
  glass = document.createElement("DIV");
  glass.setAttribute("class", "img-magnifier-glass");

  /* Insert magnifier glass: */
  img.parentElement.insertBefore(glass, img);

  /* Set background properties for the magnifier glass: */
  glass.style.backgroundImage = "url('" + img.src + "')";
  glass.style.backgroundRepeat = "no-repeat";
  glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
  bw = 3;
  w = glass.offsetWidth / 2;
  h = glass.offsetHeight / 2;

  /* Execute a function when someone moves the magnifier glass over the image: */
  glass.addEventListener("mousemove", moveMagnifier);
  img.addEventListener("mousemove", moveMagnifier);

  /*and also for touch screens:*/
  glass.addEventListener("touchmove", moveMagnifier);
  img.addEventListener("touchmove", moveMagnifier);
  function moveMagnifier(e) {
    var pos, x, y;
    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();
    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);
    x = pos.x;
    y = pos.y;
    /* Prevent the magnifier glass from being positioned outside the image: */
    if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
    if (x < w / zoom) {x = w / zoom;}
    if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
    if (y < h / zoom) {y = h / zoom;}
    /* Set the position of the magnifier glass: */
    glass.style.left = (x - w) + "px";
    glass.style.top = (y - h) + "px";
    /* Display what the magnifier glass "sees": */
    glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
  }

  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();
    /* Calculate the cursor's x and y coordinates, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}
</script>

<script>
    /* Execute the magnify function: */
    magnify("myimage", 3);
    /* Specify the id of the image, and the strength of the magnifier glass: */
</script>





<!-- <script>
    $(document).ready(function() {
        $('.xzoom').elevateZoom({

            zoomWidth:200,
            XOffset:15,

            zoomType: 'inner',
            cursor: 'crosshair',
            zoomContainer: $('.zoom-container'), // Specify the zoom container
            galleryActiveClass: 'active',
            // responsive: true,
            scrollZoom: true,
            easing: true,
            zoomWindowFadeIn: 50,
            zoomWindowFadeOut: 50,
            lensFadeIn: 500,
            lensFadeOut: 500,
            containLensZoom: 1,



        });
    });
</script> -->
<!-- <script src="zoomsl.min.js"></script> -->


<script>
    $(document).ready(function () {

$('.increment-btn').click(function (e) {
    e.preventDefault();

    var inc_value = $(this).closest('.product_data').find('.qty-input').val();
    var value = parseInt(inc_value,10);
    value = isNaN(value) ? 1 : value;
    if(value < 10)
    {
        value++;
        $(this).closest('.product_data').find('.qty-input').val(value);
    }
});

$('.decrement-btn').click(function (e) {
    e.preventDefault();

    var dec_value = $(this).closest('.product_data').find('.qty-input').val();
    var value = parseInt(dec_value,10);
    value = isNaN(value) ? 1 : value;
    if(value > 1)
    {
        value--;
        $(this).closest('.product_data').find('.qty-input').val(value);
    }
});

    $('.addToCartBtn').click(function(e){
    e.preventDefault();
    // var product_stock= $(this).closest('.product_data').find('.product_stock').val();
    var     product_id= $(this).closest('.product_data').find('.product_id').val();
    var product_qty = $(this).closest('.product_data').find('.qty-input').val();
    var token = $('input[name=csrfmiddlewaretoken]').val();

    $.ajax({
        method : "POST",
        url: "{% url 'Addtocart' %}",
        data:{
            'product_id':product_id,
            'product_qty': product_qty,
            // 'product_stock':product_stock,
            csrfmiddlewaretoken: token
        },
        success: function (response){
            console.log(response)
            alertify.success(response.status)

        }

    });
    });
});

</script>

<!-- <script type="text/javascript">
    $(document).ready(function(){
        $("{{product.image.url}}").imagezoomsl({
            zoomrange:[3,3]
        });
    });
    
</script> -->

<script>
    $(function(){
        $(".xzoom,.xzoom-gallery5").xzoom({
            zoomWidth: 400,
            tint: "#333",
            XOffset: 15,
        });
    });
</script>
        

        

{%endblock%}



