{% extends 'Adminpanel/common.html' %}
{% block content %}
<div class="container ">
    <div class="row justify-content-center mt-5">
        <div class="usercreat border border-radius-3 card col-5 p-4 ">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="" class="form-label">brand_name </label>
                    <input type="text" name="brand_name" id="" class="form-control bg-transparent " >
                </div>
                <div class="mb-2">
                    <label for="" class="form-label">brand_image </label>
                    <input type="file" name="brand_img" accept="image/png, image/jpeg, image/svg" id="" class="form-control bg-transparent">
                </div>

                <div class="d-grid">
                    <button class="btn btn-success btn-lg"  type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
            <!-- Start Messages Area -->
            {% if messages %}
            {% for message in messages%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <!-- End  Messages Area -->


</div>

<script>
    alertify.set('notifier','position', 'bottom-right');
    ('{% for mes in messages %}')
    alertify.success('{{mes}}');
    ('{% endfor %}')

</script>
{% endblock %}