{% extends 'Adminpanel/common.html' %}
{% block content %}
<div class="container ">
    <div class="row justify-content-center mt-5">
        <div class="usercreat border border-radius-3 card col-5 p-4 ">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="" class="form-label">category_name </label>
                    <input type="text" name="category_name" value="{{data.category_name}}" id="" class="form-control bg-transparent " >
                </div>
                <div class="mb-2">
                    <label for="" class="form-label">description</label>
                    <input type="text" name="description" value="{{data.description}}" id="" class="form-control bg-transparent ">
                </div>
                <div class="mb-2">
                    <label for="" class="form-label">cart_image </label>
                    <input type="file" name="cart_img" value="{{data.cart_img}}" accept="image/png, image/jpeg, image/svg" id="" class="form-control bg-transparent">
                </div>

                <div class="d-grid">
                    <button class="btn btn-success btn-lg"  type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}