{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Login</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login/css/one.css' %}">


</head>

<body style="background-image: url({% static 'login/img/lap.jpg' %});background-size: cover;background-repeat: no-repeat;">
<form method="POST">
  {% csrf_token %}

 <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="login-form  container text-center">
          <div class="pt-5">
              <h2 class="fw-bold pt-4">User Login</h2>
              <p class=" text-white-50  pt-2">Please enter your login and password!</p>
              <div class="form-outline form-white mb-4 pt-5 mx-4">
                <input placeholder="Name" type="text" id="typeEmailX" class="form-control form-control-lg" / name="Name">
              </div>
              <div class="form-outline form-white mb-4 mx-4">
                <input placeholder="Password" type="password" id="typePasswordX" class="form-control form-control-lg" / name="Password">
              </div>
              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#"> Forgot password?</a></p>
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              <p class="mt-2 mx-5">Don't have an account yet? &nbsp;<a href="{%url 'signup'%}">SignUp</a></p>
              <p class="mt-2 mx-5">Don't have an account yet? &nbsp;<a href="{%url 'mobileregister'%}">Mobile_SignUp</a></p>


            </form>

          </div>
        </div>
    </div>
 </div>


</body>

</html>
</html>